<div class="todo-app">
  <h1>To Do App</h1>

  <form [formGroup]="todoItemsControls">

    <div class="todo-input group" tuiGroup>
      <tui-input class="text-input" [formControl]="todoItemsControls.controls.addItem">
        Add Item:
        <input tuiTextfield
               placeholder="Task Name"
               (keydown)="addItemOnEnter($event)"
        />
      </tui-input>
      <button
        tuiButton
        type="button"
        (click)="addItem()"
      >
        +
      </button>
    </div>

    <div class="todo-list">
      <div class="tui-form__row" *ngFor="let item of todos.controls; let index = index">
        <tui-checkbox-block
          contentAlign="left"
          size="l"
          [formControl]="item.controls.completed"
        >
          {{item.controls.name.value}}
        </tui-checkbox-block>
        <button
          tuiButton
          appearance="red"
          type="button"
          size="s"
          (click)="removeItem(index)"
        >
          -
        </button>
      </div>
    </div>
  </form>
</div>
